<header class="w-[100%] h-[90px] border-b border-zinc-200 bg-white">
  <div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-4 sm:px-6 lg:px-8">
    <div>
      <p class="text-xs font-medium uppercase tracking-[0.2em] text-zinc-500">
        Painel administrativo
      </p>
      <h1 class="mt-1 text-2xl font-semibold tracking-tight">Visao geral da loja</h1>
    </div>

    <div class="flex gap-[20px]">
      <a
        routerLink="/cadastro-produtos"
        class="inline-flex h-10 items-center rounded-xl border border-zinc-300 px-4 text-sm font-medium text-zinc-700 transition hover:border-zinc-900 hover:text-zinc-900"
      >
        <p>Cadastro</p>
      </a>
      <a
        routerLink="/estoque"
        class="inline-flex h-10 items-center rounded-xl border border-zinc-300 px-4 text-sm font-medium text-zinc-700 transition hover:border-zinc-900 hover:text-zinc-900"
      >
        <p>Estoque</p>
      </a>
    </div>
    <button
      type="button"
      (click)="logout()"
      class="inline-flex h-10 items-center rounded-xl border border-zinc-300 px-4 text-sm font-medium text-zinc-700 transition hover:border-zinc-900 hover:text-zinc-900"
    >
      Sair
    </button>
  </div>
</header>
